<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="index.js"></script>
  </head>
  <body>
  <div id="searchBar">
  <centre>
    <h1>Welcome to Best Restaurant</h1>
    <br/>
      <form>
          <input type="text" placeholder="<%- jeff %>" name="search">
          <button type="submit">SEARCH</button>
      </form>
  </centre>
  </div>
  </body>
</html>